<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <th:block th:replace="admin/base/defaultHead" />
    <link href="/css/login.css" rel="stylesheet">
    <title>로그인페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="storeContainer">
    <div class="box">
        <img th:src="'/image/store/' + ${store.logoFileName}" class="profile"/>
    </div>
    <form th:action="@{/admin/login}" method="post" style="display:inline-block; max-width:500px; marin: 0 auto;">
        <div class="border border-secondary p-3 rounded">
            <p>관리자 계정을 입력하십시오.</p>
            <p>
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="submit" value="로그인" class="btn btn-primary" />
            </p>
        </div>
    </form>
</div>
</body>
</html>