<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="admin/base/defaultHead" />

    <title>주문내역</title>
</head>
<body>

<nav>
    <div th:replace="admin/base/nav"/>
</nav>

<div class="container-fluid">
    <div class="row">
        <aside>
            <div th:replace="admin/base/aside"/>
        </aside>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <h1 class="h2">Order</h1>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>총액</th>
                            <th>상태</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody th:each="order:${orders}">
                        <tr>
                            <td th:text="${order.id}">No</td>
                            <td th:text="${order.amount}">총액</td>
                            <td th:text="${order.status}">상태</td>
                            <td>
                                <a th:href="'./'+${order.id}+'/'">
                                    <button class="btn btn-sm btn-outline-secondary">자세히</button>
                                </a>
                                <form th:action="'./'+${order.id}+'/'"
                                      method="post"
                                      enctype="multipart/form-data"
                                      class="delete"
                                      style="display:inline-block">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input type="submit" value="삭제" class="btn btn-sm btn-outline-secondary"/>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
        feather.replace();
        connect(notify);
</script>

<footer>
    <div th:replace="admin/base/footer"/>
</footer>
</body>
</html>