<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="admin/base/defaultHead" />

    <link href="/css/product.css" rel="stylesheet">

    <title>상품목록</title>
</head>
<body>

    <nav>
        <div th:replace="admin/base/nav"/>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <aside>
                <div th:replace="admin/base/aside"/>
            </aside>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                    <h1 class="h2">Main Menu</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a href="mainMenu/">
                                <button class="btn btn-sm btn-outline-secondary">추가</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>메뉴명</th>
                                <th>카테고리</th>
                                <th>가격</th>
                                <th>구성성분</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody th:each="menu:${menus}">
                            <tr>
                                <td th:text="${menu.id}">No</td>
                                <td th:text="${menu.nameKor}+'('+${menu.nameEn}+')'">메뉴명</td>
                                <td th:text="${menu.category}">카테고리</td>
                                <td th:text="${menu.price}">가격</td>
                                <td th:text="${menu.material}">구성성분</td>
                                <td>
                                    <a th:href="'./mainMenu/'+${menu.id}+'/'">
                                        <button class="btn btn-sm btn-outline-secondary">수정</button>
                                    </a>
                                    <form th:action="'./mainMenu/'+${menu.id}+'/'"
                                          method="post"
                                          enctype="multipart/form-data"
                                          class="delete"
                                          style="display:inline-block">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <input type="submit" value="삭제" class="btn btn-sm btn-outline-secondary"/>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center topping-title">
                    <h1 class="h2">Topping</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a href="topping/">
                                <button class="btn btn-sm btn-outline-secondary">추가</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>메뉴명</th>
                            <th>카테고리</th>
                            <th>가격</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="topping:${toppings}">
                        <tr>
                            <td th:text="${topping.id}">No</td>
                            <td th:text="${topping.nameKor}+'('+${topping.nameEn}+')'">메뉴명</td>
                            <td th:text="${topping.category}">카테고리</td>
                            <td th:text="${topping.price}">가격</td>
                            <td>
                                <a th:href="'./topping/'+${topping.id}+'/'">
                                    <button class="btn btn-sm btn-outline-secondary">수정</button>
                                </a>
                                <form th:action="'./topping/'+${topping.id}+'/'"
                                      method="post"
                                      enctype="multipart/form-data"
                                      class="delete"
                                      style="display:inline-block">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input type="submit" value="삭제" class="btn btn-sm btn-outline-secondary"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
            feather.replace();
            connect(notify);
    </script>

    <footer>
        <div th:replace="admin/base/footer"/>
    </footer>
</body>
</html>