<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상품</title>
</head>
<body>
    <header>
        <div th:replace="admin/base/header"/>
    </header>
    <section>
        <ul>
            <li th:each="menu:${menus}">
                <div>
                    <span th:text="${menu.nameKor}"></span>
                    <span th:text="${menu.nameEn}"></span>
                    <span th:text="${menu.category}"></span>
                    <span th:text="${menu.material}"></span>
                </div>
            </li>
        </ul>
        <ul>
            <li th:each="topping:${toppings}">
                <div>
                    <span th:text="${topping.nameKor}"></span>
                    <span th:text="${topping.nameEn}"></span>
                    <span th:text="${topping.category}"></span>
                </div>
            </li>
        </ul>
    </section>
    <footer>
        <div th:replace="admin/base/footer"/>
    </footer>
</body>
</html>