<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="admin/base/defaultHead" />
    <th:block th:replace="admin/base/statisticHead" />

    <title>통계</title>
</head>
<body>
<nav>
    <div th:replace="admin/base/nav"/>
</nav>


<div class="container-fluid">
    <div class="row">
        <aside>
            <div th:replace="admin/base/aside"/>
        </aside>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <h1 class="h2">Statistic</h1>
            </div>
            <th:block th:replace="admin/mostMenu" />
        </main>
    </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
          feather.replace();
          connect(notify);
</script>

<footer>
    <div th:replace="admin/base/footer"/>
</footer>
</body>
</html>