<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="admin/base/defaultHead" />

    <link href="/css/store.css" rel="stylesheet">

    <title>점포정보</title>
</head>
<body>
<nav>
    <div th:replace="admin/base/nav"/>
</nav>


<div class="container-fluid">
    <div class="row">
        <aside>
            <div th:replace="admin/base/aside"/>
        </aside>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <h1 class="h2">Store</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <form action=""
                              method="post"
                              enctype="multipart/form-data">
                            <div>
                                <input type="submit" value="초기화" class="btn btn-sm btn-outline-secondary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <form class="needs-validation"
                  action=""
                  method="post"
                  enctype="multipart/form-data">
                <input type="hidden" name="_method" value="put"/>
                <div class="row g-3">
                    <div class="col-6">
                        <label for="name" class="form-label">Name</label>
                        <div class="input-group has-validation">
                            <input th:value="${store.name}" type="text" class="form-control" id="name" name="name" placeholder="Name" required="">
                            <div class="invalid-feedback">
                                store's name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6">
                        <label for="image" class="form-label">Logo</label>
                        <div class="input-group has-validation">
                            <div class="box">
                                <img th:src="'/image/store/' + ${store.logoFileName}" class="profile" />
                            </div>
                            <div class="col-9">
                                <input type="file" class="form-control" id="image" name="image" accept="image/png, image/jpeg" />
                                <div class="invalid-feedback">
                                    Please enter a valid logo image.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Update</button>
            </form>
        </main>
    </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
          feather.replace();
          connect(notify);
</script>
</body>
</html>