<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>가게</title>
</head>
<body>
    <header>
        <div th:replace="admin/base/header"/>
    </header>
    <section>
        <h1>Store</h1>
        <form action=""
              method="post"
              enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put"/>
            <div>
                <ul>
                    <li>
                        <label>name: <input type="text" name="name" th:value="${store.name}"/></label>
                    </li>
                    <li>
                        <label>
                            Photos:
                            <img th:src="'/image/store/' + ${store.logoFileName}" width="100px"/>
                            <input type="file" name="image" accept="image/png, image/jpeg" />
                        </label>
                    </li>
                    <li>
                        <input type="submit" value="upload"/>
                    </li>
                </ul>
            </div>
        </form>

        <form action=""
              method="post"
              enctype="multipart/form-data">
            <div>
                <input type="submit" value="초기화"/>
            </div>
        </form>
    </section>
    <footer>
        <div th:replace="admin/base/footer"/>
    </footer>
</body>
</html>