html{
background-color:#555;
}

body{
        background: aliceblue;
        max-width: 1000px;
        min-height: 1000px;
        margin: auto;
}

li {
    list-style: none;
}

section{
        position: relative;
        left: 0px;
        width: 100%;
        padding : 20px;
}