<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>add topping</title>
</head>
<body>
<header>
    <div th:replace="admin/base/header"/>
</header>
<section>
    <form action=""
          method="post"
          enctype="multipart/form-data">
        <div>
            <ul>
                <li>
                    <label>제품명(한글) : <input type="text" name="nameKor"></label>
                </li>
                <li>
                    <label>제품명(영어) : <input type="text" name="nameEn"></label>
                </li>
                <li>
                    <label>가격 : <input type="text" name="price"></label>
                </li>
                <li>
                    <label>카테고리 :
                        <select name="category">
                            <option th:each="categoryValue : ${T(com.bong.o2o.dao.product.Topping.Category).values()}"
                                    th:value="${categoryValue.name()}"
                                    th:text="${categoryValue.name()}">
                            </option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>이미지 : <input type="file" name="image" accept="image/png, image/jpeg" /></label>
                </li>
                <li>
                    <input type="submit" value="upload"/>
                </li>
            </ul>
        </div>
    </form>
</section>
<footer>
    <div th:replace="admin/base/footer"/>
</footer>
</body>
</html>