<link th:href="@{/css/base/header.css}" rel="stylesheet"/>

<div class="header">
    <ul>
        <a href="/admin/order">
            <li>
                <p>주문</p>
            </li>
        </a>
        <a href="/admin/product">
            <li>
                <p>상품</p>
            </li>
        </a>
        <a href="/admin/statistic">
            <li>
                <p>통계</p>
            </li>
        </a>
        <a href="/admin/store">
            <li>
                <p>가게</p>
            </li>
        </a>
    </ul>
</div>